body {
  height: 100%; }

.encabezado {
  margin-top: 1cm; }

footer {
  width: 100%; }
  footer .container h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px; }
  footer .container hr {
    width: 125px;
    height: 2px; }
  footer .container i {
    width: 30px; }
  footer .blanco {
    color: white;
    margin-top: 15px; }

.formulario {
  margin-top: 200px; }

fieldset {
  margin-top: 100px;
  margin-bottom: 50px; }

.texto {
  width: 100%; }

legend {
  align-items: center;
  display: flex;
  justify-content: center;
  color: white; }

@media (min-width: 768px) {
  .texto {
    width: 92%;
    display: flex;
    justify-content: center;
    margin-right: 60px; } }

iframe {
  margin-bottom: 10px; }

@media (max-width: 546px) {
  .footerlogin {
    position: fixed;
    bottom: 0;
    width: 100%; }
  .formulario {
    margin-top: 130px; } }

@media (min-width: 992px) {
  .footerlogin {
    position: fixed;
    bottom: 0;
    width: 100%; } }

@media (min-width: 768px) {
  .footerregister {
    position: fixed;
    bottom: 0;
    width: 100%; } }

.productos p {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-family: Lato, sans-serif;
  text-decoration: none; }
