$Fullsize:100%;

$estilos: (
    posicion: fixed,
    abajo: 0,
    largo: $Fullsize
);


@mixin center {
    align-items: center;
    display: flex;
    justify-content: center;
}


body{
    height: $Fullsize;
}

.encabezado{
    margin-top: 1cm;
}


 footer{
    width: $Fullsize;
     .container{
          h1{
            @include center;
            margin-top: 40px;
          }
          hr{
            width: 125px; 
            height: 2px;
          }
          i{
              width: 30px;
          }
          }
          .blanco{
              color: white;
              margin-top: 15px;
          }
         
 }



.formulario{
    margin-top: 200px
}

fieldset{
    margin-top: 100px;
    margin-bottom: 50px;
}

.texto{
width: $Fullsize;
}

legend{
    @include center;
  color: white;
  
}


@media (min-width: 768px){
    .texto{
    width: 92%;
    display: flex;
    justify-content: center;
    margin-right: 60px;

    }
}

iframe{
    margin-bottom: 10px;
}

@media(max-width: 546px){
    .footerlogin{
        position: map-get($estilos , posicion );
        bottom: map-get($estilos , abajo );    
        width: map-get($estilos , largo );
    }
    .formulario{
        margin-top: 130px;
    }
}

@media(min-width:992px){
    .footerlogin{
        position: map-get($estilos , posicion );
        bottom: map-get($estilos , abajo );    
        width: map-get($estilos , largo );
    }
}

@media (min-width: 768px){
    .footerregister{
        position: map-get($estilos , posicion );
        bottom: map-get($estilos , abajo );    
        width: map-get($estilos , largo );
    }
}

.productos{
            p{
                display: flex;
                justify-content: center;
                text-decoration: none;
                 color: black;
                 font-family: Lato, sans-serif; 
                 text-decoration: none
            }
}



